<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<nav th:fragment="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">The Molossian</a>
        <ul class="nav navbar-nav">
            <li><a href="/games">Games</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
	        <li><a href="/about">About Us</a></li>
        </ul>
        
        <form class="navbar-form navbar-left">
        	<div class="form-group">
          		<input type="text" class="form-control" placeholder="Search"/>
        	</div>
        	
        	<button type="submit" class="btn btn-default">Submit</button>
      	</form>
        
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()">
                <a href="users/profile.html" th:href="@{/users/{id}(id=${#authentication.principal.id})}">Profile</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>