<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Viewing All Users')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <h1>All Users</h1>

    <div class="row">
        <th:block th:each="user, i : ${users}">
            <th:block th:if="${i.index % 4 == 0}"/>
            <div class="col-xs-6 col-md-3">
                <h3 th:text="${user.username}"><a th:href="@{/users/{id}(id=${user.id})}"></a></h3>
            </div>
            <th:block th:if="${i.index % 4 == 3 || i.count == i.size}"/>
        </th:block>
    </div>

    <footer th:include="fragments/footer :: footer"></footer>
</div>
</body>
</html>